// React Template
// Author:   Jack Ryan Oracoy
// URL:      https://github.com/jackryanoracoy/react-template
// License:  https://github.com/jackryanoracoy/react-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  HTML
--------------------------------------------------*/

html {
  min-width: 240px;
  color: $dark;
  font-family: $font-primary;
  font-size: 62.5%;
  line-height: $line-height-nm;
  -webkit-tap-highlight-color: transparent;
  @include font-smoothing;
  @include text-size-adjust(100%);
  @include box-sizing(border-box);
}
