// React Template
// Author:   Jack Ryan Oracoy
// URL:      https://github.com/jackryanoracoy/react-template
// License:  https://github.com/jackryanoracoy/react-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Links
--------------------------------------------------*/

a {
  color: $info;
  text-decoration: none;

  &:hover, &:visited, &:active, &:focus {
    text-decoration: underline;
  }

  @media print { &, &:visited { text-decoration: underline; } }
}

