// React Template
// Author:   Jack Ryan Oracoy
// URL:      https://github.com/jackryanoracoy/react-template
// License:  https://github.com/jackryanoracoy/react-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Disyplay
--------------------------------------------------*/

.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
