// React Template
// Author:   Jack Ryan Oracoy
// URL:      https://github.com/jackryanoracoy/react-template
// License:  https://github.com/jackryanoracoy/react-template/blob/master/LICENSE.txt

/*--------------------------------------------------
  Flex
--------------------------------------------------*/

.flex {
  display: flex;
  flex-wrap: wrap;

  // &.is-row-wrp { flex-flow: row wrap; }
  // &.is-row-wrp-no { flex-flow: row nowrap; }
  // &.is-row-wrp-rev { flex-flow: row wrap-reverse; }
  // &.is-row-rev-wrp { flex-flow: row-reverse wrap; }
  // &.is-row-rev-wrp-no { flex-flow: row-reverse nowrap; }
  // &.is-row-rev-wrp-rev { flex-flow: row-reverse wrap-reverse; }

  // &.is-col-wrp { flex-flow: column wrap; }
  // &.is-col-wrp-no { flex-flow: column nowrap; }
  // &.is-col-wrp-rev { flex-flow: column wrap-reverse; }
  // &.is-col-rev-wrp { flex-flow: column-reverse wrap; }
  // &.is-col-rev-wrp-no { flex-flow: column-reverse nowrap; }
  // &.is-col-rev-wrp-rev { flex-flow: column-reverse wrap-reverse; }

  &.is-wrp { flex-wrap: wrap; }
  &.is-wrp-no { flex-wrap: nowrap; }
  &.is-wrp-rev { flex-wrap: wrap-reverse; }

  &.is-col { flex-direction: column; }
  &.is-col-rev { flex-direction: column-reverse; }

  &.is-row { flex-direction: row; }
  &.is-row-rev { flex-direction: row-reverse; }

  &.is-jus-start { justify-content: flex-start; }
  &.is-jus-end { justify-content: flex-end; }
  &.is-jus-center { justify-content: center; }
  &.is-jus-sparound { justify-content: space-around; }
  &.is-jus-spbetween { justify-content: space-between; }
  &.is-jus-spevenly { justify-content: space-evenly; }

  // &.is-ali-start { align-content: flex-start; }
  // &.is-ali-end { align-content: flex-end; }
  // &.is-ali-center { align-content: center; }
  // &.is-ali-stretch { align-content: stretch; }
  // &.is-ali-sparound { align-content: space-around; }
  // &.is-ali-spbetween { align-content: space-between; }

  &.is-alt-start { align-items: flex-start; }
  &.is-alt-end { align-items: flex-end; }
  &.is-alt-center { align-items: center; }
  &.is-alt-stretch { align-items: stretch; }
  &.is-alt-baseline { align-items: baseline; }

  // &-als-start { align-self: flex-start; }
  // &-als-end { align-self: flex-end; }
  // &-als-center { align-self: center; }
  // &-als-stretch { align-self: stretch; }
  // &-als-baseline { align-self: baseline; }

  @for $count from 1 through 12 {
    &-order-#{$count} { order: #{$count}; }
  }

  &-item { @include flex-col-width-auto(); }

  @for $count from 1 through 12 {
    &-item-#{$count} { @include flex-col-width($count); }
  }

  @for $count from 1 through 12 {
    &-basis-#{$count} { @include basis-col-width($count); }
  }

  &-grow { flex-grow: 1; }
  &-grow-no { flex-grow: 0; }
  &-shrink { flex-shrink: 1; }
  &-shrink-no { flex-shrink: 0; }

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-min($breakpoint) {
      // &.is-row-wrp-#{$breakpoint} { flex-flow: row wrap; }
      // &.is-row-wrp-no-#{$breakpoint} { flex-flow: row nowrap; }
      // &.is-row-wrp-rev-#{$breakpoint} { flex-flow: row wrap-reverse; }
      // &.is-row-rev-wrp-#{$breakpoint} { flex-flow: row-reverse wrap; }
      // &.is-row-rev-wrp-no-#{$breakpoint} { flex-flow: row-reverse nowrap; }
      // &.is-row-rev-wrp-rev-#{$breakpoint} { flex-flow: row-reverse wrap-reverse; }

      // &.is-col-wrp-#{$breakpoint} { flex-flow: column wrap; }
      // &.is-col-wrp-no-#{$breakpoint} { flex-flow: column nowrap; }
      // &.is-col-wrp-rev-#{$breakpoint} { flex-flow: column wrap-reverse; }
      // &.is-col-rev-wrp-#{$breakpoint} { flex-flow: column-reverse wrap; }
      // &.is-col-rev-wrp-no-#{$breakpoint} { flex-flow: column-reverse nowrap; }
      // &.is-col-rev-wrp-rev-#{$breakpoint} { flex-flow: column-reverse wrap-reverse; }

      &.is-wrp-#{$breakpoint} { flex-wrap: wrap; }
      &.is-wrp-no-#{$breakpoint} { flex-wrap: nowrap; }
      &.is-wrp-rev-#{$breakpoint} { flex-wrap: wrap-reverse; }

      &.is-col-#{$breakpoint} { flex-direction: column; }
      &.is-col-rev-#{$breakpoint} { flex-direction: column-reverse; }

      &.is-row-#{$breakpoint} { flex-direction: row; }
      &.is-row-rev-#{$breakpoint} { flex-direction: row-reverse; }

      &.is-jus-start-#{$breakpoint} { justify-content: flex-start; }
      &.is-jus-end-#{$breakpoint} { justify-content: flex-end; }
      &.is-jus-center-#{$breakpoint} { justify-content: center; }
      &.is-jus-sparound-#{$breakpoint} { justify-content: space-around; }
      &.is-jus-spbetween-#{$breakpoint} { justify-content: space-between; }
      &.is-jus-spevenly-#{$breakpoint} { justify-content: space-evenly; }

      // &.is-ali-start-#{$breakpoint} { align-content: flex-start; }
      // &.is-ali-end-#{$breakpoint} { align-content: flex-end; }
      // &.is-ali-center-#{$breakpoint} { align-content: center; }
      // &.is-ali-stretch-#{$breakpoint} { align-content: stretch; }
      // &.is-ali-sparound-#{$breakpoint} { align-content: space-around; }
      // &.is-ali-spbetween-#{$breakpoint} { align-content: space-between; }

      &.is-alt-start-#{$breakpoint} { align-items: flex-start; }
      &.is-alt-end-#{$breakpoint} { align-items: flex-end; }
      &.is-alt-center-#{$breakpoint} { align-items: center; }
      &.is-alt-stretch-#{$breakpoint} { align-items: stretch; }
      &.is-alt-baseline-#{$breakpoint} { align-items: baseline; }

      // &-als-start-#{$breakpoint} { align-self: flex-start; }
      // &-als-end-#{$breakpoint} { align-self: flex-end; }
      // &-als-center-#{$breakpoint} { align-self: center; }
      // &-als-stretch-#{$breakpoint} { align-self: stretch; }
      // &-als-baseline-#{$breakpoint} { align-self: baseline; }

      @for $count from 1 through 12 {
        &-order-#{$breakpoint}-#{$count} { order: #{$count}; }
      }

      &-item-#{$breakpoint} { @include flex-col-width-auto(); }

      @for $count from 1 through 12 {
        &-item-#{$breakpoint}-#{$count} { @include flex-col-width($count); }
      }

      @for $count from 1 through 12 {
        &-basis-#{$breakpoint}-#{$count} { @include basis-col-width($count); }
      }

      &-grow-#{$breakpoint} { flex-grow: 1; }
      &-grow-no-#{$breakpoint} { flex-grow: 0; }
      &-shrink-#{$breakpoint} { flex-shrink: 1; }
      &-shrink-no-#{$breakpoint} { flex-shrink: 0; }
    }
  }
}
